<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1" content="text/html; charset=utf-8">
    <title>Autenticación de usuarios</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="miCSS.css">
</head>
<body>
	<div class="container-fluid text-center">
	   	<form th:action="@{/login}" method="post">
	   		<div class="border border-dark">
	    		<h1>Autenticación de usuarios</h1>
	    		<p>
	    			<label>Email:</label>
	    			<input type="email" name="email" style="width: 100%" required autofocus/>
	    		</p>
	    		<p>
	    			<label>Contraseña:</label>
	    			<input type="password" name="contrasena" style="width: 100%" required autofocus/>
	    		</p>
	    		<p>
					<input type="submit" value="Iniciar sesión" class="btn btn-primary" style="width: 200px">
	    		</p>
	   		</div>
	   	</form>
	   	<form th:action="@{/}" method="get">
		   	<input type="submit" value="¿No tienes cuenta?" class="btn btn-secondary" style="width: 200px; margin-top: 0px"/>
	   	</form>
	   	<div th:if="${param.error}" class="text-danger">
	    	Email o contraseña erróneos
	    </div>
   	</div>
</body>
</html>