<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1" content="text/html; charset=utf-8">
    <title>Listado de usuarios</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="miCSS.css">
</head>
<body>
	<div class="container-fluid text-center">
	    <div>
	        <h1 style="margin-bottom: 15px">Listado de usuarios</h1>
	    </div>
	    <form th:action="@{/logout}" method="post" style="margin-bottom: 15px">
		   	<input type="submit" value="Cerrar sesión" class="btn btn-outline-secondary" style="width: 200px; margin-top: 0px"/>
	   	</form>
	    <div>
	        <table class="table table-bordered">
	            <thead class="thead-dark">
	                <tr>
	                    <th>Nombre</th>
	                    <th>Edad</th>
	                    <th>Email</th>
	                </tr>
	            </thead>
	            <tbody>
	                <tr th:each="usuario: ${listado}">
	                    <td th:text="${usuario.nombre}">Nombre</td>
	                    <td th:text="${usuario.edad}">Edad</td>
	                    <td th:text="${usuario.email}">Email</td>
	                </tr>
	            </tbody>
	        </table>
	    </div>
	</div>
</body>
</html>